* {
    font-family: "Helvetica Neue";
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}




#hero-section{
    /* background-color: green; */
    margin: 9rem;
    display: block;
   
    
}

#header-section{
    color: white;
   
}


#header-section h2{
   font-weight: 200;
   text-transform: uppercase;
   font-size: 1.2rem;
   padding-left: 0.5rem;
}


#header-section h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 7rem;
    letter-spacing: -0.2rem;
 }

#header-section h4{
    font-weight: 200;
    font-size: 1rem;
}


#bt1{
    margin-top: 1rem;
    font-weight: 300;
    color: black;            
    padding: 1.25rem 2rem 1.25rem 2rem ; 
    border: none;             
    border-radius: 2rem;       
    text-transform: uppercase;
    cursor: pointer; 
    transition-duration: 0.2s;
    transition: all .2s ease-in-out; 
}

#bt1:hover{
    transform: scale(1.05); 
    background-color: rgb(173, 172, 172);
}

.img-section{
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: red; */
    height: 350px;
}

#img1{
    /* background-color: aqua; */
    margin: 0.5rem;
    margin-top: 2rem;
    /* padding: 3rem; */
    width: 21rem;
    height: 24rem;
    border-radius: 1.5rem;
}

/* cover image of the hero section  */

.cover1{
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    filter: grayscale(100%);
}

/* 
this is the code for the stars aka Xs */

.rotating1{
   /* border: 2px white solid; */
   display: flex;
   justify-content: right;
   padding: 1rem;
   color: white;
   width: 10%;
   margin-left: 90%;
   margin-bottom: 1rem;
   margin-top: -8rem;
   opacity: 0.6;

}


.rotating2{
    /* border: 2px white solid; */
    display: flex;
    justify-content: right;
    padding: 1rem;
    color: white;
    opacity: 0.6;
 }

#x1 .ri-close-large-line{
    font-size: 1rem;
    
   /* background-color: yellow; */
   /* margin-left: -4rem; */
  
}

#x2 .ri-close-large-line{
    font-size: 2rem;
   /* background-color: greenyellow; */
  
}


.stars-grp2{
    margin-right: 21rem;
}

#x3 .ri-close-large-line{
    font-size: 2rem;
   /* background-color: yellow; */
   margin-left: -4rem;
  
}

#x4 .ri-close-large-line{
    font-size: 2rem;
   /* background-color: greenyellow; */
   /* margin-left: -4rem; */
  
}


@media (max-width: 650px){
    #hero-section{
        /* background-color: green; */
        margin: 2rem;
    }

    #header-section h2{
        font-size: 0.9rem;
        padding-left: 0.5rem;
     }
     
     
     #header-section h1{
         font-size: 4rem;
      }
     
     #header-section h4{
         font-size: 0.8rem;
         text-wrap: wrap;
        
     }

     #bt1{
        margin-top: 1rem;       
        padding: 0.7rem 1.25rem 0.7rem 1.25rem ; 
    
    }

    .img-section{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }

    #img1{
        /* background-color: aqua; */
        margin: 0.5rem;
        margin-top: 4rem;
        /* padding: 3rem; */
        width: 15rem;
        height: 18rem;
      
    }

    .rotating1{
        /* border: 2px white solid; */
        width: 4%;
        margin-left: 100%;
        margin-top: 0.1rem;
        margin-bottom: -5rem;
        opacity: 0.6;
     
     }
     
     
     .rotating2{
         /* border: 2px white solid; */
         display: flex;
         justify-content: right;
         padding: 1rem;
         color: white;
         opacity: 0.6;
      }
     
     #x1 .ri-close-large-line{
         font-size: 1rem;
        /* background-color: yellow; */
        margin-left: -2rem;
       
     }
     
     #x2 .ri-close-large-line{
         font-size: 1rem;
        /* background-color: greenyellow; */
       
     }
     
     
     .stars-grp2{
         margin-right: 15.5rem;
     }
     
     #x3 .ri-close-large-line{
         font-size: 1rem;
        /* background-color: yellow; */
        margin-left: -2rem;
       
     }
     
     #x4 .ri-close-large-line{
         font-size: 1rem;
        /* background-color: greenyellow; */
        /* margin-left: -4rem; */
       
     }

}

@media (max-width: 760px){
    #img1{
        /* background-color: aqua; */
        margin-top: 5rem;
      
    }

}


/* ABOUT ME SECTION */


#about-me-section{
   /* background-color: green; */
    margin: 5rem;
    margin-top: 10rem;
    padding: 1.5rem;
    display: block;
}

#about-header{
    /* background-color: blueviolet; */
    color: white;

}


#about-header h2{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-left: 0.75rem;
}

#about-header h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 8rem;
    letter-spacing: -0.2rem;
}


#summary-container{

    display: flex;
    margin: 2rem;
    /* border: 2px solid yellow; */
}

.about-me-cover2{
    /* background-color: aqua; */
    min-width: 50%;
    margin: 1rem;
    border-radius: 1.5rem;
    
}

.text-box{
    color: white;
    font-size: 1.4rem;
    /* background-color: brown; */
    margin: 1rem;
    padding: 1rem;
    font-weight: 200; 
    line-height: 137%;
    text-align: center;

}

.cover2{
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    filter: grayscale(100%);
}



@media (max-width: 870px){
    #about-me-section{
        /* background-color: green; */
         margin: 0.5rem;
         margin-top: 10rem;
         padding: 1.5rem;
         display: block;
     }


    #about-header h2{
        font-size: 0.9rem;
        padding-left: 0.5rem;
        margin-left: 0.75rem;
    }

    #about-header h1{
        font-size: 4rem;
       
    }
}

@media (max-width: 900px){
    #summary-container{

        display: block;
        /* flex-wrap: wrap; */
        margin: 0.25rem;
        /* border: 2px solid yellow; */
    }


    .text-box{
        font-size: 1.3rem;
        margin-top: 2rem;
        /* background-color: brown; */
        font-weight: 200; 
        /* line-height: 137%; */
        text-align: center;
    
    }
}




/* 
PROJECTS SECTION */

#project-section{
    margin-top: 15rem;
    color: white;
    text-transform: uppercase;
    
}

.project-header{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.project-header h1{
    font-size: 7rem;
    font-weight: 500;
}

.project-header h3{
    font-size: 1.2rem;
    font-weight: 300;

}

/* CODE FOR ALL THE PROJECT CARDS */



.card-container {
    padding-top: 5rem;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;

}

.card-wrapper{
    /* background-color: blueviolet; */
    border-radius: 1.25rem;
}

.card-text{
    margin-top: 1.4rem;
    /* background-color: blue; */
    padding: 0;
}


.card-name-small{
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

.card-name-large{
    margin-top: -1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}


.card{
    transition: all .2s ease-in-out; 
    background-color: white;
    width: 40rem;
    height: 25rem;
    border-radius: 1.25rem;
}

.card-img{
    width: auto;
    height: fit-content;

}

#project1{
    margin-top: 1rem;
    padding: 2rem;
}

#project2{
    height: 100%;
    border-radius: 1.25rem;
}



/* Hover effect */
.card:hover {
    cursor: pointer;
    transform: scale(1.05); /* Slight zoom out (5% larger) */
   
}


@media (max-width:600px ){
#project-section h1{
    font-size: 4rem;
}

#project-section h3{
    font-size: 1rem;
}
}

@media (max-width: 650px){
    .card{
        width: 21rem;
        height: 13.5rem;
    }



}

